body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1546800273-4d63ff843853?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0 1px #df7825;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}
.cover-container {
  max-width: 60vw;
}

h2 {
    color:#df7825;
    text-shadow: 0 0 1px #302f2f;
}

h1 a {
    color:white;
    text-decoration: none;
}

h1 a:hover {
    color:#df7825;
}

main {
    max-width: 600px;
    margin: 0 auto;
}

p span {
    color: #df7825;
    font-weight: bold;
}


.btn-secondary {
    color: #df7825;
    border-color: #df7825;
    background-color: #363535;
    text-shadow: none;
}

p {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }