#cluster-map {  
    width: 100%;
    height: 660px;
    border-style: double;
    border-width: 2px;
    border-color: rgba(65, 67, 69, 0.605);
}

#map {
    width: 100%;
    height: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(65, 67, 69, 0.605);
}

body {
    padding-top: 30px;
}

#indexCards {
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-style: hidden;
    border-width: 3px;
    width: 100%;
}

#campgroundCarousel {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(65, 67, 69, 0.605);
    max-height: 450px;
}

